<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sepay.backend.exchangereservation.mapper.ExchangeReservationMapper">
    <select id="selectByUserNo" parameterType="int" resultType="exchangeReservationDTO">
        select resNo, targetExchange, targetKrw, createAT
        from exchange_reservation
        where user_no = #{userNo}
    </select>

</mapper>