<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sepay.backend.history.mapper.HistoryMapper">

    <select id="getFilter" resultType="HistoryDTO">
        SELECT *
        FROM history h
        WHERE h.user_id = #{searchItem.userId}
        <if test="searchItem.typeCode != null and searchItem.typeCode.size() > 0">
            AND h.type_code IN
            <foreach item="item" collection="searchItem.typeCode" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="searchItem.stateCode != null">
            AND h.state_code = #{searchItem.stateCode}
        </if>
        <if test="searchItem.beginDate != null and searchItem.endDate != null">
            <!-- 날짜만 비교 (DATE() 사용) -->
            AND DATE(h.history_date) BETWEEN DATE(#{searchItem.beginDate}) AND DATE(#{searchItem.endDate})
        </if>
        <if test="searchItem.historyContent != null and searchItem.historyContent != ''">
            AND h.history_content LIKE CONCAT('%', #{searchItem.historyContent}, '%')
        </if>
        <!-- ORDER BY 절을 동적으로 처리 -->
        ORDER BY h.history_date ${searchItem.sortOrder}
        LIMIT #{pageRequest.offset}, #{pageRequest.amount}
    </select>

    <select id="getTotalCountForFilter" parameterType="SearchItem" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM history h
        WHERE h.user_id = #{userId}
        <if test="typeCode != null and typeCode.size() > 0">
            AND h.type_code IN
            <foreach item="item" collection="typeCode" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="stateCode != null">
            AND h.state_code = #{stateCode}
        </if>
        <if test="beginDate != null and endDate != null">
            AND DATE(h.history_date) BETWEEN DATE(#{beginDate}) AND DATE(#{endDate})
        </if>
        <if test="historyContent != null and historyContent != ''">
            AND h.history_content LIKE CONCAT('%', #{historyContent}, '%')
        </if>
    </select>

    <!-- 이용내역 추가-->
    <insert id="insertHistory" parameterType="historyDTO" useGeneratedKeys="true" keyProperty="history_no">
        INSERT INTO sepay.history
        (user_id, song_no, krw_no, type_code, state_code, history_content, amount, exchange_rate)
        VALUES
            (#{userId}, #{songNo}, #{krwNo}, #{typeCode}, #{stateCode}, #{historyContent}, #{amount}, #{exchangeRate})
    </insert>

    <update id="updateMemo" parameterType="HistoryDTO">
        UPDATE history
        SET memo = #{memo}
        WHERE history_no = #{historyNo}
    </update>

</mapper>