<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sepay.backend.history.mapper.HistoryMapper">
    <select id="getFilter" parameterType="SearchItem" resultType="HistoryDTO">
        SELECT *
        FROM history h
--         LEFT JOIN song_account sa ON h.song_no = sa.song_no
--         LEFT JOIN krw_account ka ON h.krw_no = ka.krw_no
        WHERE h.user_no = #{userNo}
        <!-- 거래 유형 필터링 -->
        <if test="typeCode != null and typeCode.size > 0">
            AND h.type_code IN
            <foreach item="item" collection="typeCode" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <!-- 거래 상태 필터링 -->
        <if test="stateCode != null">
            AND h.state_code = #{stateCode}
        </if>
        <!-- 날짜 범위 필터링 -->
        <if test="beginDate != null and endDate != null">
            AND h.history_date BETWEEN #{beginDate} AND #{endDate}
        </if>
        <!-- 검색 쿼리 필터링 -->
        <if test="historyContent != null and historyContent != ''">
            AND h.history_content LIKE CONCAT('%', #{historyContent}, '%')
        </if>

        ORDER BY h.history_date DESC
    </select>

    <select id="selectAllHistories" resultType="HistoryDTO">
        SELECT * FROM history ORDER BY history_date DESC
    </select>
</mapper>
