<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sepay.backend.myaccount.mapper.MyAccountMapper">

    <!-- 계좌 잔액 확인 -->
    <select id="selectAccountBalance" parameterType="string" resultType="double">
        select balance
        from account
        where account_no = #{accountNo}
            for update
    </select>

    <!-- 송이 계좌 잔액 확인 -->
    <select id="selectSongBalance" parameterType="string" resultType="double">
        select balance
        from song_account
        where song_no = #{songNo}
            for update
    </select>

    <!-- 원화 계좌 잔액 확인 -->
    <select id="selectKrwBalance" parameterType="string" resultType="double">
        select balance
        from krw_account
        where krw_no = #{krwNo}
            for update
    </select>

    <!--  회원 이메일 확인  -->
    <select id="selectUserEmail" parameterType="string" resultType="string">
        select user_id
        from user
        where user_id = #{userId}
    </select>

    <!-- 계좌 잔액 수정 -->
    <update id="updateAccount" parameterType="accountDTO">
        UPDATE account
        SET balance = #{balance}
        WHERE account_no = #{accountNo}
    </update>

    <!-- 송이 계좌 잔액 수정 -->
    <update id="updateSongAccount" parameterType="songAccountDTO">
        UPDATE song_account
        SET balance = #{balance}, updated_at = now()
        WHERE song_no = #{songNo}
    </update>

    <!-- 원화 잔액 수정 -->
    <update id="updateKrwAccount" parameterType="krwAccountDTO">
        UPDATE krw_account
        SET balance = #{balance}, updated_at = now()
        WHERE krw_no = #{krwNo}
    </update>
    <!--  userNo에 따른 2차 비밀번호 조회  -->
    <select id="selectSecondPwd" parameterType="integer" resultType="string">
        select second_pwd
        from user
        where user_id = #{userId}
    </select>

    <!-- 보내는 사람(회원) 계좌 번호 조회-->
    <select id="selectKrwNo" parameterType="string" resultType="string">
        select krw_no
        from user
        where user_id = #{userId}
            for update
    </select>
    
    <insert id="insertHistoryByKrwNo" parameterType="com.sepay.backend.history.dto.HistoryDTO">
        INSERT INTO history (krw_no, amount, type, balance, /* 다른 필요한 컬럼들 */)
        VALUES (#{krwNo}, #{amount}, #{type}, #{balance}, /* 다른 필요한 값들 */)
    </insert>

    <select id="selectUserByKrwNo" resultType="com.sepay.backend.user.dto.UserDTO">
        SELECT user_id, song_no
        FROM sepay.user
        WHERE krw_no = #{krwNo}
    </select>
</mapper>