<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sepay.backend.notification.mapper.NotificationMapper">

    <!-- 알림 등록 -->
    <insert id="insertNotification" parameterType="notificationDTO">
        insert into notification (user_id, res_no, noti_content, exchange_rate)
        values (#{userId}, #{resNo}, #{notiContent}, #{exchangeRate})
    </insert>

    <!-- 알림 불러오기 -->
    <select id="selectByUserNo" parameterType="String" resultType="notificationDTO">
        select *
        from notification
        where user_id = #{userId}
    </select>
</mapper>