<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sepay.backend.notification.mapper.NotificationMapper">
    <select id="selectByUserNo" parameterType="int" resultType="notificationDTO">
        select noti_no, resve_no, noti_content, exchange_rate, create_at
        from notification
        where user_no = #{userNo}
    </select>

</mapper>