<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sepay.backend.payment.mapper.PaymentMapper">

    <!-- 숙소 결제 -->
    <insert id="insertPayAccommodation" parameterType="paymentDTO">
        INSERT INTO payment
            (user_id, name, amount, history)
        VALUES (#{userId}, #{name}, #{amount}, #{history})
    </insert>

</mapper>