<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sepay.backend.setting.mapper.SettingMapper">

    <!-- 정보 변경 -->
    <update id="updateUser">
        UPDATE user SET
        <if test="profilePic != null">
            profile_pic = #{profilePic},
        </if>
        address = #{address},
        post_code = #{postCode},
        country_code = #{countryCode},
        updated_at = now()
        WHERE user_id = #{userId}
    </update>

    <!-- 계좌 등록 -->
    <update id="updateAccount" parameterType="map">
        UPDATE user SET
            account_no = #{accountNo}
        WHERE user_id = #{userId}
    </update>

    <!-- 계좌 해지 -->
    <update id="deleteAccount">
        UPDATE user SET
            account_no = " "
        WHERE user_id = #{userId}
    </update>

    <!-- 비밀번호 변경 -->
    <update id="updatePassword" parameterType="map">
        UPDATE user SET
            password = #{newPw},
        WHERE user_id = #{userId}
    </update>

    <!-- 비밀번호 확인 -->
    <select id="selectPassword" parameterType="String" resultType="String">
        select password
        from user
        WHERE user_id = #{userId}
    </select>

    <!-- 2차 비밀번호 변경 -->
    <update id="updateSecondPassword" parameterType="map">
        UPDATE user SET
            second_pwd = #{secondPwd}
        WHERE user_id = #{userId}
    </update>

    <!-- 2차 비밀번호 확인 -->
    <select id="selectSecondPassword" parameterType="String" resultType="String">
        select second_pwd
        from user
        WHERE user_id = #{userId}
    </select>

    <!-- 송이 계좌 삭제 -->
    <delete id="deleteSonge">
        DELETE FROM song_account
        WHERE song_no = #{songNo}
    </delete>

    <!-- 원화 계좌 삭제 -->
    <delete id="deleteKrw">
        DELETE FROM krw_account
        WHERE krw_no = #{krwNo}
    </delete>

    <!-- 유저 삭제 -->
    <update id="deleteUser" parameterType="String">
        UPDATE user SET
            state_code = '10'
        WHERE user_id = #{userId}
    </update>

    <!-- 유저 프로필 이미지 확인 -->
    <select id="selectUserProfileImg" parameterType="String" resultType="String">
        SELECT profile_pic
        FROM user
        WHERE user_id = #{userId}
    </select>

    <select id="selectAccountPwd" parameterType="String" resultType="String">
        SELECT account_pwd
        FROM account
        WHERE account_no = #{accountNo}
    </select>
</mapper>