<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sepay.backend.user.mapper.UserMapper">
    <select id="selectUserByUserNo" parameterType="int" resultType="userDTO">
        select *
        from user
        where user_no = #{userNo}
    </select>

    <select id="getSecondaryPassword" parameterType="int" resultType="String">
        select second_pwd
        from user
        where user_no = #{userNo}
    </select>

    <!-- 로그인 -->
    <select id="selectUser" parameterType="map" resultType="userDTO">
        select *
        from user
        where user_id = #{userId} and password = #{password}
    </select>

    <!-- 회원가입 정보 DB에 INSERT -->
    <insert id="insertUser" parameterType="userDTO">
        INSERT INTO user(user_id, password, country_code, first_name, last_name, birthday, gender, phone_no)
        VALUES(#{userId}, #{password}, #{countryCode}, #{firstName}, #{lastName}, #{birthday}, #{gender}, #{phoneNo})
    </insert>

    <!-- 이메일 중복 체크 -->
    <select id="selectUserByEmail" parameterType="String" resultType="userDTO">
        select *
        from user
        where user_id = #{userId}
    </select>
</mapper>