<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sepay.backend.user.mapper.UserMapper">
    <select id="selectUserByUserNo" parameterType="int" resultType="userDTO">
        select *
        from user
        where user_no = #{userNo}
    </select>

    <select id="getSecondaryPassword" parameterType="int" resultType="String">
        select second_pwd
        from user
        where user_no = #{userNo}
    </select>

    <!-- 로그인 -->
    <select id="selectUser" parameterType="map" resultType="userDTO">
        select *
        from user
        where user_id = #{userId} and password = #{password}
    </select>
</mapper>