<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sepay.backend.security.account.mapper.UserDetailsMapper">

    <!-- AuthVO 매핑 -->
    <resultMap id="authMap" type="AuthVO">
        <result property="username" column="user_id"/>
        <result property="auth" column="auth"/>
    </resultMap>

    <!-- UserVO 매핑 -->
    <resultMap id="userMap" type="UserVO">
        <id property="userNo" column="user_no"/>
        <result property="accountNo" column="account_no"/>
        <result property="songNo" column="song_no"/>
        <result property="krwNo" column="krw_no"/>
        <result property="countryCode" column="country_code"/>
        <result property="username" column="user_id"/>
        <result property="password" column="password"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="birthday" column="birthday"/>
        <result property="gender" column="gender"/>
        <result property="phoneNo" column="phone_no"/>
        <result property="secondPwd" column="second_pwd"/>
        <result property="profilePic" column="profile_pic"/>
        <result property="address" column="address"/>
        <result property="postCode" column="post_code"/>
        <result property="stateCode" column="state_code"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>

        <collection property="authList" resultMap="authMap"/>
    </resultMap>

    <select id="get" resultMap="userMap">
        SELECT user_no, account_no, song_no, krw_no, country_code, u.user_id, password, first_name, last_name, birthday, gender, phone_no, second_pwd, profile_pic, address, post_code, state_code, created_at, updated_at, ua.auth
        FROM user u
                 LEFT OUTER JOIN user_auth ua ON u.user_id = ua.user_id
        WHERE u.user_id = #{username}
    </select>

    <!-- 회원 상태 확인 -->
    <select id="checkUserStatus" parameterType="String" resultType="String">
        select state_code
        from user
        where user_id = #{userId}
    </select>
</mapper>