.gitmessage.txt

FRONTEND/.DS_Store
FRONTEND/node_modules/
FRONTEND/dist/
FRONTEND/.cache/
FRONTEND/npm-debug.log*
FRONTEND/yarn-debug.log*
FRONTEND/yarn-error.log*
FRONTEND/test/unit/coverage

FRONTEND/package-lock.json

# Editor directories and files
FRONTEND/.idea
FRONTEND/*.suo
FRONTEND/*.ntvs*
FRONTEND/*.njsproj
FRONTEND/*.sln
