$yellow-100:#fffbe4;


$brown-100:#f9f9f8;

$primary-yellow: #FFEB69;
$primary-blue: #6DB4D8;
$primary-aqua: #7ECCDA;

$light-brown: #B0AB99;
$dark-brown: #665A4A;

$text-brown: #4B4737;
$text-brown-900:#11100c;
$text-brown-300: #c3c2bc;
$text-brown-100: #ebebe9;