<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <package name="com.sepay.backend.user.dto"/>
        <package name="com.sepay.backend.history.dto"/>
        <package name="com.sepay.backend.myaccount.dto"/>
        <package name="com.sepay.backend.exchangereservation.dto"/>
        <package name="com.sepay.backend.notification.dto"/>
        <package name="com.sepay.backend.security.account.domain"/>
        <package name="com.sepay.backend.exchange.dto"/>
        <package name="com.sepay.backend.eventSchedule.dto"/>
        <package name="com.sepay.backend.reservation.dto"/>
        <package name="com.sepay.backend.payment.dto"/>

    </typeAliases>

    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/HistoryMapper.xml"/>
        <mapper resource="mapper/MyAccountMapper.xml"/>
        <mapper resource="mapper/ExchangeReservationMapper.xml"/>
        <mapper resource="mapper/NotificationMapper.xml"/>
        <mapper resource="mapper/SettingMapper.xml"/>
        <mapper resource="mapper/UserDetailsMapper.xml"/>
        <mapper resource="mapper/ExchangeMapper.xml"/>
        <mapper resource="mapper/UserDetailsMapper.xml"/>
        <mapper resource="mapper/AdminMapper.xml"/>
        <mapper resource="mapper/ScheduleMapper.xml"/>
        <mapper resource="mapper/AccommodationMapper.xml"/>
        <mapper resource="mapper/PaymentMapper.xml"/>
    </mappers>

</configuration>
